.search-results-container {
  position: absolute;
  top: 4rem;
  display: flex;
  flex-direction: column;
  min-width: 22rem;
  height: 26rem;
  margin-top: -0.5rem;
  margin-left: -6.1rem;
  background-color: var(--bg-color-component);
  border-radius: var(--border-radius-secondary);
  z-index: 15;
}

@media (max-width: 27.5rem) {
  .search-results-container {
    min-width: 20rem;
    margin-left: -7.4rem;
  }
}
