.search-results__footer {
  display: flex;
  align-items: center;
  margin-top: auto;
  padding: var(--spacing-20);
  background-color: var(--bg-color-component-secondary);
  border-radius: inherit;
}
