.search-results-body {
  padding: var(--spacing-20);
  overflow: auto;
}

.search-results-body__header {
  margin-bottom: var(--spacing-20);
  color: var(--text-color-secondary);
}

.search-results-body__item {
  display: flex;
  align-items: center;
  margin-bottom: var(--spacing-10);
}

.search-results-body__item:hover .search-results-body__item__name {
  color: var(--color-primary-dark);
}
