.refresh-button {
  position: fixed;
  bottom: var(--spacing-20);
  right: var(--spacing-20);
  padding: var(--spacing-5);
  background: rgba(255, 255, 255, 1);
  color: var(--color-primary-dark);
  border-radius: 50%;
  font-size: 2rem;
  cursor: pointer;
}
