.card {
  width: 100%;
  background-color: var(--bg-color-component);
  border: var(--border-1px-primary);
  border-radius: var(--border-radius-secondary);
  box-shadow: var(--box-shadow-primary);
}

.card--sm {
  padding: var(--spacing-20);
}

.card--lg {
  padding: var(--spacing-30);
}
